*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    text-decoration: none;
}

/* Header CSS */
.navigation{
    width: 80%;
    margin: 0 auto;
}

 nav{
     background: #ffffe6;
 }

 nav::after{
     content: '';
     display: table;
     clear: both;
 }

 .logo{
     float: left;
     padding: 5px 0;
 }

 header{
     float: right;
 }

 header ul{
     margin: 0;
     padding: 0;
     list-style: none;
 }

 header li{
     display: inline-block;
     margin-left: 70px;
     padding-top: 25px;
     padding-bottom: 25px;
     position: relative;
 }

 header a{
     color: #444;
     text-decoration: none;
     text-transform: uppercase;
     font-size: 14px;
 }

 header a:hover{
     color: #000;
 }

 header a::before{
     content: '';
     display: block;
     height: 5px;
     width: 100%;
     background-color: #444;
     position: absolute;
     bottom: 20px;
     width: 0%;
     transition: all ease-in-out 1000ms;
 }

 nav a:hover::before{
     width: 100%;
 }

 /* Landing page */
#showcase{
    background-image: url(../images/cover.JPG);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

#showcase p{
    color: #ffffcc;
    font-size: 20px;
}
#showcase h1{
    color: #ffff00;
    font-size: 50px;
}

#showcase .button{
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    border: #fff 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}

#showcase .button:hover{
    background: #091A2C;
    color: #fff;
}


/* Team Section */

#teams_section{
    height: 100vh;
    display: flex;
}
.person{
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    transition: .6s;
}

.person:hover{
    flex: 3;
}

.person_pic{
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translate(-50%);
    filter: grayscale(80%);
    transition: .3s;
}

.person:hover .person_pic{
    filter: grayscale(0);
}

.person_info{
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    opacity: 0;
    transition: .2s;
}

.person:hover .person_info{
    opacity: 1;
    bottom: 60px;
    transition-delay: .6s;
}

.person_info h3{
    font-size: 20px;
    color: #000;
}

.person_info p{
    color: #ffff00;
    font-style: italic;
    margin-top: 8px;
    margin-bottom: 20px;
}

.socialmedia a{
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #333;
    background-color: #b8e994;
    line-height: 40px;
    border-radius: 50%;
    margin: 0 6px;
    font-size: 18px;
    transition: .3s linear;
}

.socialmedia a:hover{
    color: #b8e994;
    background-color: transparent;
    transform: scale(1.5);
}

/* Footer CSS */

.footer{
    width: 100vw;
    display: block;
    overflow: hidden;
    padding: 70px 0;
    box-sizing: border-box;
    background: #ffffe6;
}

.inner_footer{
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
}

.inner_footer .logo_container{
    width: 35%;
    float: right;
    height: 100%;
    display: block;
}

.inner_footer .logo_container img{
    width: 100px;
    height: auto;   
}

.inner_footer .footer_third{
    width: calc(21.66666667% -20px);
    margin-right: 10px;
    float: left;
    height: 100%;
    padding: 10px;
}

.inner_footer .footer_third:last-child{
    margin-right: 0;
}

.inner_footer .footer_third h1 h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: #091A2C;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.inner_footer .footer_third a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    display: block;
    font-weight: 200;
    width: 100%;
    padding-bottom: 5px;
}

.inner_footer .footer_third li{
    display: inline-block;
    padding: 0 5px;
    font-size: 20px;
}

.inner_footer .footer_third span{
    font-family: 'arial';
    font-size: 16px;
    font-weight: 200;
    display: block;
    width: 100%;
    padding-top: 20px;
}

